.map-wrap {
    position: relative;
    width: 100%;
    /* max-height: 546px; */
    height: calc(100vh - 60px); /* calculate height of the screen minus the heading */
  }
  
.map {
    /* position:fixed; */
    width: 100%;
    height: 100%;
    /* aspect-ratio: 1 / 1; */
    /* max-height: 546px; */
    /* border-radius: 25px; */
    /* border: 1px solid;
    border-color: #373737; */
    min-width: 250px;
}


#calculated-area {
  display: block;
  position: absolute;
  left: 280px;
  bottom: 0px;
  width: fit-content;
  padding: 10px;
  border: none;
  border-radius: 3px;
  font-size: 20px;
  text-align: center;
  color: #222;
  background: transparent;
}

#info {
  display: block;
  position: absolute;
  bottom: 0px;
  width: fit-content;
  padding: 10px;
  border: none;
  border-radius: 3px;
  font-size: 20px;
  text-align: center;
  color: #222;
  background: transparent;
}

.maplibregl-popup-close-button{
  aspect-ratio: 1 / 1;
  width: 20px;
  font-size: 25px;
}
.maplibregl-marker {
  cursor: pointer;
}