*{
    margin: 0;
    padding: 0;
    font-family: 'Jura', sans-serif;
  }
.Plan {
    text-align: center;
    background-image: url("../../assets/img/bg_image.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: -moz-scrollbars-none;
  }

  .Plan::-webkit-scrollbar { 
    width: 0 !important 
  }  

.Plan{
    background-color: white;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    font-size: calc(10px + 2vmin);
    color: black;
}

