.form-container {
    width: 100%;
}
.arrow {
    aspect-ratio: 1 / 1;
    width: 26px;
    filter: invert(100%); 
    
}
.arrow-down {
    transform: rotate(180deg);
}
.btns {
    width: fit-content;
}
.form-control {
    width: 60%;
}
.block-btns {
    justify-content: space-between;
}
p {
    width: fit-content;
}
