.main__analyze {
  float: right;
  margin-left: auto;
  /* border: 1px solid #000000d3; */
  margin-top: 1%;
  width: 67%;
  height: 665px;
}
.header {
  display: flex;
  flex-direction: column;
  align-items: center; 
  text-align: center;
  font-size: calc(10px + 2vmin);
}

aside {
  margin-left: 1%;
  margin-top: 1%;
  /* border: 1px solid #ffffff; */
  float: left;
  width: 30%;
}

.dark__content {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  z-index: 999999;
  background-color: rgba(0, 0, 0, .8);
}

.buttons {
  margin-left: 60%;
  display: flex;
  justify-content: space-around;
}

.hidden {
  display: none !important ;
}

html {
  background-color: 	rgba(148,193,225);
}