body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("./assets/img/bg_image.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navigationAnalyze {
  z-index: 1000000;
  display: inline-block;
  text-decoration: none;
  float: right;
  right: 2%;
  bottom: 5%;
  position: absolute;
  font-size: calc(10px + 2vmin);
  width:15%;
  height:8%;
  border-radius: 25px;
}

.navigationPlan {
  z-index: 1000;
  display: inline-block;
  text-decoration: none;
  float: left;
  left: 2%;
  bottom: 5%;
  position: absolute;
  font-size: calc(10px + 2vmin);
  width: 15%;
  height:8%;
  border-radius: 25px;
}