.popup {
    font-family: "Constantia", sans-serif;
    border-radius: 1em;
    padding: 1%;
    text-indent: 5%;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height:500px;  
    display: flex;
    flex-direction: column;
    z-index:99999999;
    background-color: rgb(107, 168, 217);   
}

.popup__title {
    margin-bottom: 10%;
    margin-top: 5%;
}

.popup button {
    margin-left:6%;
    margin-right:6%;
    font-size: 20px;
    font-family: "Constantia", sans-serif;
    box-shadow: 0 5px 15px 0 rgba(11, 99, 246, 1);
    transition: 0.5s;
    background: #2957b4;
    color: #fff; 
    border: none; 
    padding: 0.5rem 1rem; 
    margin-bottom: 1rem; 
}

.popup button:hover {
    transform: translate(0,-3px);
    box-shadow: 0 20px 40px 0 rgba(11, 99, 246, 1);
}